<%- include ("header") %>

<!-- CSS only -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script> -->


<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/niic.png" alt="" width="100" height="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="#">NIIP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Facebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Instagram</a>
                </li>
            </ul>
            <div class="d-flex">

            </div>
        </div>
        <div class="d-flex flex-row-reverse">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle me-extra" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Basket <span><i class="fa-solid fa-basket-shopping"></i></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <!-- basket items will be added via jq in home.js - NOTE: this could change at a lalter commit -->
                    <!-- <li class="dropdown-item">
                        <pre><small>x13</small>    polishQuran <button type="button"><i class="fa-solid fa-square-minus"></i></button></pre>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</nav>

<section class="sectionDefaultPaddings" id="oderSelectionSection">
    <div class="container-fluid">
        <h2 class="text-center headingDefaultPaddings">Quran Translation Box</h2>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- card 1 -->
                    <div class="card mb-3 text-bg-dark" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://i.ebayimg.com/images/g/MrAAAOSwjNFfR4al/s-l500.png"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title  bg-gradient">Polish Quran</h5>
                                    <p class="card-text">This item contains a box of 16 <em><u>Polish Quran</u></em> .
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <form action="/addToBasket" method="post">
                                        <input class=" polishQuran mb-1 me-3" type="number" name="itemQuantity" id=""
                                            max="10" min="1">
                                        <button class="btn_addtoBasket btn btn-primary" type="button"
                                            onclick="addToBasket(name)" name="polishQuran">add to basket</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <!-- card 2 -->
                    <div class="card mb-3 text-bg-dark" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://i.ebayimg.com/images/g/MrAAAOSwjNFfR4al/s-l500.png"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title  bg-gradient">English Quran</h5>
                                    <p class="card-text">This item contains a box of 16 <em><u>English Quran</u></em> .
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <form>
                                        <input class=" EnglishQuran mb-1 me-3" type="number" name="itemQuantity" id=""
                                            max="10" min="1">
                                        <button class="btn_addtoBasket btn btn-primary" type="button"
                                            onclick="addToBasket(name)" name="EnglishQuran">add to basket</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>


<script src="/js/home.js"></script>


<%- include ("footer") %>