body {
    color: black;
}


.nav-link {
    color: orange;
}


.sectionDefaultPaddings {
    padding: 35px 25px;
}

.headingDefaultPaddings {
    padding: 20px;
}

.me-extra {
    margin-right: 10rem;
}

.midImgSize {
    height: 150px;
    width: 150px;
}


.hidden{
    visibility: hidden;
}

.shoppingCart_empty {
    background-image: url(https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-svg-png-icon-download-28.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;

    background-color: rgb(244, 244, 244);

    border-color: orange;
    border-width: 2px;
}

.test{
    height: 200px;
}

.checkoutDiv{
    position: absolute;
    bottom: 0;
}


.shoppingCart {

    height: 400px;
    width: fit-content;
    min-width: 270px;

    background-color: rgb(244, 244, 244);

    border-color: orange;
    border-width: 2px;

    
}