<%- include ("header") %>

<!-- CSS only -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script> -->


<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/niic.png" alt="" width="100" height="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active " aria-current="page" href="#">NIIP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Facebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Instagram</a>
                </li>
            </ul>
            <div class="d-flex">

            </div>
        </div>
        <div class="d-flex flex-row-reverse">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle me-extra" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Basket <span><i class="fa-solid fa-basket-shopping"></i></span>
                </button>

                <ul class="dropdown-menu shoppingCart container shoppingCart_empty">
                    <div class="itemList" style="height: 90%;">
                        <h5 class="text-center">Your Shopping Cart</h3>
                            <!-- basket items will be added via jq in home.js - NOTE: this could change at a lalter commit -->
                            <!-- <li class="cartItem">
                                <div class="row p-2">
                                    <div class="col-2" data-qnt="_productName">x6</div>
                                    <div class="col-3">£78.20</div>
                                    <div class="col-5">
                                        <h6>polishQuran</h6>
                                    </div>
                                    <div class="col-2"><button class="removeCartItem" type="button"
                                            data-name="xxx">-</button></div>
                                </div>
                            </li> -->
                    </div>
                    <div class="d-flex flex-row-reverse px-1" style="height: 10%;">
                        <button class="btn btn-primary ms-1 rounded-1 hidden" name="checkout" type="button">Checkout</button>
                        <button class="btn btn-danger rounded-1 hidden" name="checkout-clear" type="button">Clear</button>
                    </div>

                </ul>
            </div>
        </div>
    </div>
</nav>

<section id="oderSelectionSection" class="sectionDefaultPaddings">
    <div class="container-fluid">
        <h2 class="text-center headingDefaultPaddings">Quran Translation Box</h2>

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- card 1 -->
                    <div class="card mb-3 text-bg-dark" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://i.ebayimg.com/images/g/MrAAAOSwjNFfR4al/s-l500.png"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title  bg-gradient">Polish Quran</h5>
                                    <p class="card-text">This item contains a box of 16 <em><u>Polish Quran</u></em> .
                                    </p>
                                </div>
                                <div class="card-footer polishQuran">
                                    <form action="/addToBasket" method="post">
                                        <input class=" polishQuran mb-1 me-3" type="number" name="itemQuantity" id=""
                                            max="10" min="0">
                                        <button class="btn_addtoBasket btn btn-primary btnd" type="button"
                                            name="polishQuran" disabled>add to basket</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <!-- card 2 -->
                    <div class="card mb-3 text-bg-dark" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://i.ebayimg.com/images/g/MrAAAOSwjNFfR4al/s-l500.png"
                                    class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title  bg-gradient">English Quran</h5>
                                    <p class="card-text">This item contains a box of 16 <em><u>English Quran</u></em> .
                                    </p>
                                </div>
                                <div class="card-footer englishQuran">
                                    <form>
                                        <input class=" englishQuran mb-1 me-3" type="number" name="itemQuantity" id=""
                                            max="10" min="0">
                                        <button class="btn_addtoBasket btn btn-primary" type="button"
                                            name="englishQuran" disabled>add to basket</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel consequuntur, eligendi officia blanditiis officiis id
    nihil quia sunt rerum recusandae voluptas non soluta veniam quo possimus corrupti numquam eveniet amet.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloremque autem omnis impedit, officiis
    aliquam libero perferendis dolores mollitia doloribus ab culpa nesciunt veritatis ipsa ipsum illo fugiat! Earum,
    repudiandae.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel consequuntur, eligendi officia blanditiis officiis id
    nihil quia sunt rerum recusandae voluptas non soluta veniam quo possimus corrupti numquam eveniet amet.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloremque autem omnis impedit, officiis
    aliquam libero perferendis dolores mollitia doloribus ab culpa nesciunt veritatis ipsa ipsum illo fugiat! Earum,
    repudiandae.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel consequuntur, eligendi officia blanditiis officiis id
    nihil quia sunt rerum recusandae voluptas non soluta veniam quo possimus corrupti numquam eveniet amet.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloremque autem omnis impedit, officiis
    aliquam libero perferendis dolores mollitia doloribus ab culpa nesciunt veritatis ipsa ipsum illo fugiat! Earum,
    repudiandae.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel consequuntur, eligendi officia blanditiis officiis id
    nihil quia sunt rerum recusandae voluptas non soluta veniam quo possimus corrupti numquam eveniet amet.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloremque autem omnis impedit, officiis
    aliquam libero perferendis dolores mollitia doloribus ab culpa nesciunt veritatis ipsa ipsum illo fugiat! Earum,
    repudiandae.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel consequuntur, eligendi officia blanditiis officiis id
    nihil quia sunt rerum recusandae voluptas non soluta veniam quo possimus corrupti numquam eveniet amet.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloremque autem omnis impedit, officiis
    aliquam libero perferendis dolores mollitia doloribus ab culpa nesciunt veritatis ipsa ipsum illo fugiat! Earum,
    repudiandae.</p>

<section id="checkoutSection" class="sectionDefaultPaddings hidden">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/images/niic.png" alt="" width="100" height="100">
        <h2>Checkout form</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group
            has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>
</section>


<script src="/js/home.js"></script>


<%- include ("footer") %>