.product_cart_Container{

    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.cart_Container{
    border-radius: 1.6%;
}


/* functional Classes */
.hidden{
    display: none;
}
/**********************/