

.mainDiv{
    width: 100vw;
    height: 100vh;
    background-color: rgb(13, 12, 19);
}

.centreDiv{
    /* background-color: blue; */
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 170px; */
    position: relative;
    top: 150px;
    background-color: green;
    border-radius: 4%;
    box-shadow: 2px 2px 5px green;
    padding: 4px;
}
h1.header1{
    font-size: 4rem;
    color: white
}
.loadingIcon{
    color: green;
}
